<a href="https://colab.research.google.com/github/statlib/learn-polars/blob/main/notebooks/polars-expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade faker hypothesis polars

Requirement already satisfied: faker in /usr/local/lib/python3.10/dist-packages (19.13.0)
Requirement already satisfied: hypothesis in /usr/local/lib/python3.10/dist-packages (6.88.1)
Requirement already satisfied: polars in /usr/local/lib/python3.10/dist-packages (0.19.12)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from hypothesis) (23.1.0)
Requirement already satisfied: sortedcontainers<3.0.0,>=2.1.0 in /usr/local/lib/python3.10/dist-packages (from hypothesis) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from hypothesis) (1.1.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [2]:
import numpy as np
import polars as pl
from datetime import datetime
from faker import Faker

def sim_fin_data(n=1000):
    assert n > 0, "Number of companies must be greater than 0."

    fake = Faker()
    rng = np.random.default_rng(seed=123)  # Initialize random number generator
    r = range(n)

    try:
        # Generate company IDs and names
        company_ids = [fake.unique.uuid4() for _ in r]
        company_names = [fake.company() for _ in r]
        filing_dates = [
            fake.date_between(start_date='-1y', end_date='today')
            for _ in range(n)
        ]
        # Generate balance sheet data using lognormal distribution
        total_assets = rng.lognormal(mean=13, sigma=1.0, size=n)
        total_liabilities = np.clip(rng.lognormal(mean=12, sigma=1.0, size=n), 0, total_assets * 0.95)
        total_equity = total_assets - total_liabilities

        # Generate income statement data using lognormal and normal distributions
        revenue = rng.lognormal(mean=12, sigma=1.0, size=n)
        cogs = revenue * np.clip(rng.normal(loc=0.6, scale=0.1, size=n), 0.1, 0.9)
        operating_expenses = revenue * np.clip(rng.normal(loc=0.2, scale=0.05, size=n), 0.05, 0.4)
        interest_expense = total_liabilities * rng.normal(loc=0.05, scale=0.01, size=n)
        tax_expense = revenue * np.clip(rng.normal(loc=0.2, scale=0.02, size=n), 0.1, 0.3)
        net_income = revenue - cogs - operating_expenses - interest_expense - tax_expense

        # Create a Polars DataFrame
        df = pl.DataFrame({
            'company_id': company_ids,
            'company_name': company_names,
            'filing_date': filing_dates,
            'total_assets': total_assets,
            'total_liabilities': total_liabilities,
            'total_equity': total_equity,
            'revenue': revenue,
            'cost_of_goods_sold': cogs,
            'operating_expenses': operating_expenses,
            'interest_expense': interest_expense,
            'tax_expense': tax_expense,
            'net_income': net_income
        })

    except Exception as e:
         return print(f"An error occurred while generating dummy data: {e}")

    return df

In [3]:
df = sim_fin_data()

In [4]:
df.sample(5)

shape: (5, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ company_i ┆ company_n ┆ filing_da ┆ total_ass ┆ … ┆ operating ┆ interest_ ┆ tax_expen ┆ net_inco │
│ d         ┆ ame       ┆ te        ┆ ets       ┆   ┆ _expenses ┆ expense   ┆ se        ┆ me       │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ str       ┆ date      ┆ f64       ┆   ┆ f64       ┆ f64       ┆ f64       ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 80b30710- ┆ Harris-Wi ┆ 2022-12-2 ┆ 99866.722 ┆ … ┆ 25326.398 ┆ 680.57042 ┆ 22425.606 ┆ 14481.78 │
│ 516c-45a3 ┆ lliams    ┆ 7         ┆ 323       ┆   ┆ 281       ┆ 4         ┆ 777       ┆ 262      │
│ -8b6a-083 ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ dcac9…    ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 3992b65d- ┆ Bridges,  ┆ 2022-12-2 ┆ 450361.75 ┆ … ┆ 66231.059 ┆ 7033.8235 ┆ 73504.155 ┆ 15339.74 │
│ 525e-4461 ┆ Wright    ┆ 6         ┆ 2091      ┆   ┆ 329       ┆ 97        ┆ 893       ┆ 7321     │
│ -bee2-06e ┆ and       ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ a740b…    ┆ Richard   ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ e7d7f13e- ┆ Rogers-Le ┆ 2023-09-0 ┆ 54060.412 ┆ … ┆ 29643.919 ┆ 1824.7000 ┆ 62797.723 ┆ 31126.79 │
│ 1aad-4344 ┆ e         ┆ 8         ┆ 108       ┆   ┆ 646       ┆ 29        ┆ 28        ┆ 3433     │
│ -8282-a6a ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 5217b…    ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 1411edef- ┆ Lopez-One ┆ 2023-07-0 ┆ 375484.93 ┆ … ┆ 40091.299 ┆ 17874.621 ┆ 41732.720 ┆ -37511.2 │
│ 5017-4991 ┆ al        ┆ 9         ┆ 9273      ┆   ┆ 143       ┆ 818       ┆ 382       ┆ 1966     │
│ -a45e-be7 ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 6ec7c…    ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 43e36a0a- ┆ Douglas,  ┆ 2023-01-0 ┆ 259164.14 ┆ … ┆ 68886.788 ┆ 8789.7762 ┆ 48414.422 ┆ 7181.976 │
│ 8022-4070 ┆ Perez and ┆ 1         ┆ 5499      ┆   ┆ 284       ┆ 8         ┆ 469       ┆ 41       │
│ -8bed-c3d ┆ Smith     ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ ad07b…    ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [5]:
df.filter(
    pl.col("filing_date").is_between(
        datetime(2023, 11, 1),
        datetime(2023, 11, 5)
    )
)

shape: (14, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ company_i ┆ company_n ┆ filing_da ┆ total_ass ┆ … ┆ operating ┆ interest_ ┆ tax_expen ┆ net_inco │
│ d         ┆ ame       ┆ te        ┆ ets       ┆   ┆ _expenses ┆ expense   ┆ se        ┆ me       │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ str       ┆ date      ┆ f64       ┆   ┆ f64       ┆ f64       ┆ f64       ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ d88742db- ┆ Nguyen,   ┆ 2023-11-0 ┆ 332605.78 ┆ … ┆ 19255.788 ┆ 4148.0161 ┆ 18569.156 ┆ -11782.9 │
│ 6e76-4bda ┆ Landry    ┆ 2         ┆ 1684      ┆   ┆ 092       ┆ 95        ┆ 819       ┆ 25113    │
│ -9fda-623 ┆ and       ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ dd001…    ┆ Norman    ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 9ed4258d- ┆ Stewart,  ┆ 2023-11-0 ┆ 990791.48 ┆ … ┆ 267353.03 ┆ 6120.6519 ┆ 240423.16 ┆ -30199.3 │
│ e772-4f71 ┆ Wong and  ┆ 2         ┆ 1009      ┆   ┆ 0053      ┆ 95        ┆ 4469      ┆ 02371    │
│ -9400-f5d ┆ Lowery    ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 14c1d…    ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ f1e28cce- ┆ Holmes    ┆ 2023-11-0 ┆ 1.1741e6  ┆ … ┆ 82300.382 ┆ 26774.587 ┆ 62263.747 ┆ -44008.9 │
│ f0bb-4873 ┆ Group     ┆ 1         ┆           ┆   ┆ 571       ┆ 544       ┆ 391       ┆ 4991     │
│ -ade7-9ed ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ dc449…    ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 200fef36- ┆ Burch-Ben ┆ 2023-11-0 ┆ 2.5748e6  ┆ … ┆ 22921.472 ┆ 68567.351 ┆ 21823.697 ┆ -77472.5 │
│ f64b-431e ┆ ton       ┆ 1         ┆           ┆   ┆ 843       ┆ 139       ┆ 495       ┆ 51186    │
│ -a68a-fdc ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ dc1d3…    ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 26065266- ┆ Crosby-Kr ┆ 2023-11-0 ┆ 1.1027e6  ┆ … ┆ 39287.686 ┆ 7524.4640 ┆ 42372.217 ┆ -31187.9 │
│ 3ce2-4e9f ┆ amer      ┆ 2         ┆           ┆   ┆ 511       ┆ 65        ┆ 923       ┆ 51233    │
│ -8220-29d ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ e19b8…    ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ f6e2417a- ┆ Brown Inc ┆ 2023-11-0 ┆ 169732.16 ┆ … ┆ 15660.403 ┆ 2622.7089 ┆ 17979.046 ┆ -488.218 │
│ cd96-40ee ┆           ┆ 3         ┆ 9105      ┆   ┆ 153       ┆ 76        ┆ 121       ┆ 714      │
│ -9dff-207 ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ b6fa8…    ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 6bdb9247- ┆ Valencia, ┆ 2023-11-0 ┆ 293954.37 ┆ … ┆ 143113.15 ┆ 13405.643 ┆ 146227.86 ┆ 26137.63 │
│ 445f-4172 ┆ Rogers    ┆ 3         ┆ 7061      ┆   ┆ 2612      ┆ 01        ┆ 4906      ┆ 9123     │
│ -895b-3a5 ┆ and       ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 8962e…    ┆ Clements  ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 21411c19- ┆ Harris-Te ┆ 2023-11-0 ┆ 5.2011e6  ┆ … ┆ 15081.319 ┆ 14170.554 ┆ 15003.701 ┆ -17517.9 │
│ bce4-44e4 ┆ rry       ┆ 3         ┆           ┆   ┆ 461       ┆ 027       ┆ 316       ┆ 66173    │
│ -9679-c1b ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 7d253…    ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [6]:
df.filter(
    pl.col("filing_date").dt.year() < 2021
)

shape: (0, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ company_i ┆ company_n ┆ filing_da ┆ total_ass ┆ … ┆ operating ┆ interest_ ┆ tax_expen ┆ net_inco │
│ d         ┆ ame       ┆ te        ┆ ets       ┆   ┆ _expenses ┆ expense   ┆ se        ┆ me       │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ str       ┆ str       ┆ date      ┆ f64       ┆   ┆ f64       ┆ f64       ┆ f64       ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [8]:
(
    df.with_columns([
        pl.col("filing_date").n_unique().over("company_id").alias('filing_date_count'),
        pl.col("filing_date").dt.quarter().alias("filing_date")
    ])
    .filter(
        pl.col("total_assets") > 5e6
    )
    .melt(
        id_vars="filing_date",
        value_vars=["total_assets", "total_liabilities"]
    )
    .group_by("variable")
    .agg(
        pl.col("value").median()
    )
)

shape: (2, 2)
┌───────────────────┬───────────────┐
│ variable          ┆ value         │
│ ---               ┆ ---           │
│ str               ┆ f64           │
╞═══════════════════╪═══════════════╡
│ total_assets      ┆ 5.8362e6      │
│ total_liabilities ┆ 226576.470411 │
└───────────────────┴───────────────┘

In [9]:
df = pl.DataFrame(
    {
        "nrs": [1, 2, 3, None, 5],
        "names": ["foo", "ham", "spam", "egg", None],
        "random": np.random.rand(5),
        "groups": ["A", "A", "B", "C", "B"],
    }
)
print(df)

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.137719 ┆ A      │
│ 2    ┆ ham   ┆ 0.263739 ┆ A      │
│ 3    ┆ spam  ┆ 0.371153 ┆ B      │
│ null ┆ egg   ┆ 0.009119 ┆ C      │
│ 5    ┆ null  ┆ 0.736574 ┆ B      │
└──────┴───────┴──────────┴────────┘

In [10]:
df_numerical = df.select(
    (pl.col("nrs") + 5).alias("nrs + 5"),
    (pl.col("nrs") - 5).alias("nrs - 5"),
    (pl.col("nrs") * pl.col("random")).alias("nrs * random"),
    (pl.col("nrs") / pl.col("random")).alias("nrs / random"),
)
print(df_numerical)

shape: (5, 4)
┌─────────┬─────────┬──────────────┬──────────────┐
│ nrs + 5 ┆ nrs - 5 ┆ nrs * random ┆ nrs / random │
│ ---     ┆ ---     ┆ ---          ┆ ---          │
│ i64     ┆ i64     ┆ f64          ┆ f64          │
╞═════════╪═════════╪══════════════╪══════════════╡
│ 6       ┆ -4      ┆ 0.137719     ┆ 7.261162     │
│ 7       ┆ -3      ┆ 0.527478     ┆ 7.583258     │
│ 8       ┆ -2      ┆ 1.113459     ┆ 8.082918     │
│ null    ┆ null    ┆ null         ┆ null         │
│ 10      ┆ 0       ┆ 3.68287      ┆ 6.788183     │
└─────────┴─────────┴──────────────┴──────────────┘

In [11]:
df_logical = df.select(
    (pl.col("nrs") > 1).alias("nrs > 1"),
    (pl.col("random") <= 0.5).alias("random <= .5"),
    (pl.col("nrs") != 1).alias("nrs != 1"),
    (pl.col("nrs") == 1).alias("nrs == 1"),
    ((pl.col("random") <= 0.5) & (pl.col("nrs") > 1)).alias("and_expr"),  # and
    ((pl.col("random") <= 0.5) | (pl.col("nrs") > 1)).alias("or_expr"),  # or
)
print(df_logical)

shape: (5, 6)
┌─────────┬──────────────┬──────────┬──────────┬──────────┬─────────┐
│ nrs > 1 ┆ random <= .5 ┆ nrs != 1 ┆ nrs == 1 ┆ and_expr ┆ or_expr │
│ ---     ┆ ---          ┆ ---      ┆ ---      ┆ ---      ┆ ---     │
│ bool    ┆ bool         ┆ bool     ┆ bool     ┆ bool     ┆ bool    │
╞═════════╪══════════════╪══════════╪══════════╪══════════╪═════════╡
│ false   ┆ true         ┆ false    ┆ true     ┆ false    ┆ true    │
│ true    ┆ true         ┆ true     ┆ false    ┆ true     ┆ true    │
│ true    ┆ true         ┆ true     ┆ false    ┆ true     ┆ true    │
│ null    ┆ true         ┆ null     ┆ null     ┆ null     ┆ true    │
│ true    ┆ false        ┆ true     ┆ false    ┆ false    ┆ true    │
└─────────┴──────────────┴──────────┴──────────┴──────────┴─────────┘

In [12]:
df.select(
    pl.col("nrs").sort().head(2),
    pl.col("random").filter(pl.col("random") < 1).sum()
)

shape: (2, 2)
┌──────┬──────────┐
│ nrs  ┆ random   │
│ ---  ┆ ---      │
│ i64  ┆ f64      │
╞══════╪══════════╡
│ null ┆ 1.518304 │
│ 1    ┆ 1.518304 │
└──────┴──────────┘

In [22]:
from polars.testing.parametric import dataframes
from polars import NUMERIC_DTYPES
from hypothesis import given

@given(
    dataframes(
        cols=5,
        allowed_dtypes=NUMERIC_DTYPES,
        null_probability=0.1
    )
)
def test_numeric(df):
    assert all(df[col].is_numeric() for col in df.columns)

In [31]:
from polars.testing.parametric import column, dataframes
from hypothesis.strategies import floats, sampled_from, text
from hypothesis import given

from string import ascii_letters, digits

id_chars = ascii_letters + digits


@given(
    dataframes(
        cols=[
            column("id", strategy=text(min_size=4, max_size=4, alphabet=id_chars)),
            column("ccy", strategy=sampled_from(["GBP", "EUR", "JPY", "USD"])),
            column("price", strategy=floats(min_value=0.0, max_value=1000.0)),
        ],
        min_size=5,
        lazy=True,
    )
)
def test_price_calculations(lf):
    assert len(lf.collect()['id']) == 4
    # print(lf.collect())

In [24]:
from polars.testing.parametric import create_list_strategy, dataframes, column
from hypothesis.strategies import composite
from hypothesis import given


@composite
def uint8_pairs(draw, uints=create_list_strategy(pl.UInt8, size=2)):
    pairs = list(zip(draw(uints), draw(uints)))
    return [sorted(ints) for ints in pairs]


@given(
    dataframes(
        cols=[
            column("colx", strategy=uint8_pairs()),
            column("coly", strategy=uint8_pairs()),
            column("colz", strategy=uint8_pairs()),
        ],
        size=3,
    )
)

def test_miscellaneous(df):

SyntaxError: ignored